env/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

app.py.orig
db_query.py.orig
node_modules/
package-lock.json
templates/addcrop.html.orig
templates/daterangepicker-master.zip
templates/daterangepicker-master/
templates/moment.min.js