{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
	<title>{% block title %}FameGame{% endblock %}</title>
</head>
<body class="section">
	{% block content %}
<div class="form">
	<form action="/search", method='post' class="form-control">
			<label>search : </label>
			<input type="text" name="search">
			<button type="submit" class="button">search</button>
		</form>
</div>
<div class="item">
	{% for game in games %}
	<li>{{game[0]}}</li>
	{% endfor %}
	</div>
{% endblock %}
</body>
</html>